* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}
.logo {
  width: 154.9px;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 6px 14px;
  color: #677788;
}
.trigram {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}
ul li {
  /* width: 100px; */
  text-align: center;
  font-size: 14px;
}
ul li a,
.learn {
  text-decoration: none;
}
ul li a:active {
  color: black;
}
ul li a,
.trigram,
.learn {
  color: #677788;
}
.buyButton {
  width: 102px;
  height: 45px;
  color: white;
  background-color: #2476ff;
  border: transparent;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 12px;
  font-weight: 700;
}
.heroSection {
  /* width: 1024px; */
  background: no-repeat center url("../assets/bg/background-top.svg");
  display: flex;
  flex-direction: row;
  padding: 40px 30px 0 30px;
  justify-content: space-between;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  gap: 30px;
}
.punchline {
  display: flex;
  flex-direction: column;
  width: 334px;
  gap: 11px;
}
.mainPunch {
  font-size: 40px;
}
.subPunch {
  font-size: 14px;
  color: #677788;
}
.actions {
  display: flex;
  gap: 24px;
  align-items: center;
}
.playVideo {
  background-color: #2476ff;
  color: white;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border: transparent;
  border-radius: 30px;
}
.playIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: #2476ff;
  background-color: white;
  border: transparent;
  border-radius: 50%;
}
.playText {
  font-size: 12px;
}
.learn {
  font-weight: 700;
  font-size: 14px;
}
.heroRight {
  display: flex;
}
.heroRight div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 3px black;
}
.heroRight div img {
  width: 48px;
  height: 48px;
}
.heroRight .google,
.heroRight .googleAds {
  width: 60px;
  height: 60px;
}
.heroRight .google img,
.heroRight .googleAds img {
  width: 40px;
  height: 40px;
}
.google {
  top: 10px;
  left: 70px;
}
.atlassian {
  top: 10px;
  left: 140px;
}
.asana {
  top: 10px;
  left: 290px;
}
.paypal {
  top: 140px;
  right: 180px;
}
.weave {
  top: 140px;
  left: 10px;
}
.googleAds {
  top: 230px;
  right: 230px;
}
.calendar {
  top: 250px;
  right: 40px;
}
